form {
  animation: bounceInUp 2s ease forwards;
}

.signup {
  padding-top: 70px;
  .logo {
    width: 200px;
    height: 120px;
    animation: bounceInDown 2.5s ease forwards;
  }
  .container {
    background-color: var(--secondary-color);
  }

  .signup-body {
    .form-control {
      background-color: var(--text-secondary-color) !important;
    }
    .password-icon {
      top: 12px;
      right: 32px;
      cursor: pointer;
    }
    .btn-signup {
      background-color: var(--text-main-color);
      color: var(--text-secondary-color);
      transition: background-color 0.4s, color 0.4s;
    }
    .btn-signup:hover {
      background-color: var(--text-secondary-color);
      color: var(--text-main-color);
    }
  }

  .signup-footer span {
    color: var(--text-secondary-color);
  }

  .signup-footer {
    .btn-login {
      color: var(--text-main-color);
      border-color: var(--text-main-color);
      transition: background-color 0.4s, color 0.4s;
    }
    .btn-login:hover {
      background-color: var(--text-main-color);
      color: var(--text-secondary-color);
    }
  }
}

@media (min-width: 992px) {
  .signup .container {
    width: 50%;
  }
}
